{% extends "base/base.html" %}
{% block titulo %}Evaluacion CSTF{% endblock %}
{% block contenido %}
    <ul class="topnav">
        <li><a class="active" href="#">Inicio</a></li>
        <li><a href="{% url 'gestion:cstf_evaluacion' %}">Evaluación</a></li>
        <a class="right" href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        <a class="right" href="{% url 'gestion:cstf' %}"><i class="fas fa-user"></i> Docente: Rodriguez Pablo</a>
    </ul>
    <div class="container">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Resolver como:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="evaluacion.html">
                        <div class="modal-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="aceptado" value="aceptado" onchange="disableBox(value)">
                                <label class="form-check-label" for="aceptado">
                                    Aceptado
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="observado" value="observado" onchange="disableBox(value)"checked>
                                <label class="form-check-label" for="observado">
                                    Observado
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="rechazado" value="rechazado" onchange="disableBox(value)">
                                <label class="form-check-label" for="rechazado">
                                    Rechazado
                                </label>
                              </div>
                              <label for="observacion" class="form-label">Agregar observación:</label>
                              <textarea id="observacion" class="form-control" aria-label="With textarea" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <!-- -->
                <div class="container-fluid">
    
                                <div class="centrar mb-3"><h3>Listado de PTF a evaluar por CSTF.</h3></div>
                                <div class="tabla_nth_child">
                                <fieldset>
                                    <table>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Descripción</th>
                                            <th>Fecha de presentación</th>
                                            <th>MovimientoID</th>
                                            <th>Fecha de movimiento</th>
                                            <th>Plazo</th>
                                            <th>Acción</th>
                                            <th>Estado</th>
                                            <th>Observación</th>
                                            <th>Informe</th>
                                        </tr>
                                        {% for dictamen in dictamenes %}
                                        <tr>
                                            <td><div><label id="title{{dictamen.id}}">{{dictamen.dictamen_mov.movimiento_proyecto.titulo}}</label> </div></td>
                                            <td><div><label id="description{{dictamen.id}}">{{dictamen.dictamen_mov.movimiento_proyecto.descripcion}}</label> </div></td>
                                            <td><div><label id="fp{{dictamen.id}}">{{dictamen.dictamen_mov.movimiento_proyecto.presentacion_ptf}}</label> </div></td>
                                            <td><div> <label id="mov{{dictamen.id}}">{{dictamen.dictamen_mov.id}}</label></div></td>
                                            <td><div> <label id="datemov{{dictamen.id}}">{{dictamen.dictamen_mov.fecha_mov}}</label></div></td>
                                            <td><div> <label id="finmov{{dictamen.id}}">{{dictamen.dictamen_mov.fin_mov}}</label></div></td>
                                            <td><div><button type="button" id="button{{dictamen.id}}"name="button{{dictamen.id}}"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Evaluar</button></div></td>
                                            <td><div> 
                                            {% if dictamen.resultado_dictamen is null or blank %}
                                                <label id="estado{{dictamen.id}}">Pendiente</label>
                                            {% else %}
                                                <label id="estado{{dictamen.id}}">{{dictamen.get_resultado_dictamen_display}}</label>
                                            {% endif %}
                                            </div></td>
                                            <td><div> <label id="estado{{dictamen.id}}">{{dictamen.observacion}}</label></div></td>
                                            <td><div><a  href="#" download="archivo.html">Descargar</a></div></td>
                                        </tr>  
                                        {% endfor %}
                                        
                                    </table>
                                </fieldset>
                        <br>
                        </div>
                </div>
        </div>
{% endblock %}   