{% extends "base/base.html" %}
{% block titulo %}Administrador{% endblock %}
{% block contenido %}
<div class="topnav" id="myTopnav">
    <a class="active" href="{% url 'gestion:administrador' %}">Inicio</a>
    <div class="dropdown">
        <button class="dropbtn">Proyectos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Alumnos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Docentes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Asesores
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Tribunales
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">CSTFs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'gestion:registro_cstf' %}">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Movimientos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Dictamenes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Archivos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Baja</a>
          <a href="#">Modificacion</a>
          <a href="#">Listado</a>
        </div>
      </div>
      <a href="{% url 'gestion:administrador_estadisticas' %}">Estadisticas</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

      <a class="right" href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
      <a class="right" href="{% url 'gestion:administrador' %}"><i class="fas fa-user"></i> Administrador: Rodriguez Pablo</a>
</div>  
<div class="container">

    <div class="container-fluid">

                        
        <div class="encabezado">

            <div class="centrar mb-3"><h3>Listado de PTF.</h3></div>
            <form method="post" action="#">
                <div>
                    <label id="fecha_desde_cf">Fecha inicio</label>
                    <input value="2023-08-01" type="date" id="fecha_desde" name="fecha_desde" required>
                    <label id="fecha_hasta_cf">Fecha fin</label>
                    <input value="2023-12-30" type="date" id="fecha_hasta" name="fecha_hasta" required>
                    <button type="submit" class="btn btn-success">Buscar</button>
                </div>        
            </form>
        </div>
                    <div class="tabla_nth_child">
                    <fieldset>
                        <table>
                            <tr>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Fecha de presentación</th>
                                <th>Archivos adjuntos</th>
                                <th>Certificado analítico</th>
                                <th>Nota de aceptación</th>
                                <th>CV de asesor</th>
                                <th>Estado</th>
                            </tr>

                            <tr>
                                <td><div><label id="title2">Investigación en protocolos de comunicación eficientes.</label> </div></td>
                                <td><div><label id="description2">Desarrollar y mejorar los métodos de intercambio de datos entre dispositivos y sistemas informáticos.</label> </div></td>
                                <td><div><label id="fp3">03/11/2023</label> </div></td>
                                <td><div> <a href="#">Descargar</a></div></td>
                                <td><div> <a href="#">Descargar</a></div></td>
                                <td><div> <a href="#">Descargar</a></div></td>
                                <td><div> <a href="#">Descargar</a></div></td>
                                <td><div><label id="fp4">Pendiente</label></div></td>
                            </tr>       
                        </table>
                    </fieldset>
            <br>
            </div>
         
    </div>
</div>
{% endblock %}   