{% extends "base/base.html" %}
{% block titulo %}Registro{% endblock %}
{% block contenido %}
<ul class="topnav">
  <li><a class="active" href="/">Inicio</a></li>
  <li class="right"><a href="{% url 'proyecto:proyecto_create' %}"><i class="fas fa-sign-in-alt"></i> Acceder</a></li>
  <li class="right"><a href="#"><i class="fas fa-user"></i> Registrarse</a></li>
</ul>
<div class="container">
  <div class="menucentrado">
    <div class="row mb-2">
        <div class="col-md-3"></div>
            <div class="col-md-6">
              <table>
                <tr>
                  <th>Registro</th>
                </tr>
                <tr>
                  <td><a href="#">Alumno</a></td>
                </tr>
                <tr>
                  <td><a href="#">Docente</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'proyecto:proyecto_registro_cstf' %}">Comision de seguimiento de trabajo final</a></td>
                </tr>
                <tr>
                  <td><a href="#">Tribunal de evaluación</a></td>
                </tr>
              </table>
            </div>
        <div class="col-md-3"></div>
    </div>        
  </div>
</div>
{% endblock %}