{% extends "base/tribunal.html" %}
{% block titulo %}Evaluacion BTF{% endblock %}
{% block child %}
    <div class="container">
                <div class="container-fluid">
    
                                <div class="centrar mb-3"><h3>Listado de TF a evaluar por Tribunal:</h3></div>
                                <div class="tabla_nth_child">
                                    <fieldset>
                                    <table>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Descripción</th>
                                            <th>Fecha de presentación</th>
                                            <th>MovimientoID</th>
                                            <th>Fecha de movimiento</th>
                                            <th>Plazo</th>
                                            <th>Estado</th>
                                            <th>Archivos TF</th>
                                            <th>Informe</th>
                                        </tr>
                                        {% for dictamen in dictamenes %}
                                        <tr>
                                            <td><div><label id="title{{dictamen.id}}">{{dictamen.dictamen_mov.movimiento_proyecto.titulo}}</label> </div></td>
                                            <td><div><label id="description{{dictamen.id}}">{{dictamen.dictamen_mov.movimiento_proyecto.descripcion}}</label> </div></td>
                                            <td><div><label id="fp{{dictamen.id}}">{{dictamen.dictamen_mov.movimiento_proyecto.presentacion_ptf|date:'d-m-Y'}}</label> </div></td>
                                            <td><div> <label id="mov{{dictamen.id}}">{{dictamen.dictamen_mov.id}}</label></div></td>
                                            <td><div> <label id="datemov{{dictamen.id}}">{{dictamen.dictamen_mov.fecha_mov|date:'d-m-Y'}}</label></div></td>
                                            <td><div> <label id="finmov{{dictamen.id}}">{{dictamen.dictamen_mov.fin_mov|date:'d-m-Y'}}</label></div></td>
                                            <td><div> <label id="estado{{dictamen.id}}">Pendiente</label></td>
                                              <td><div><a  href="#" download="archivo.html">Descargar</a></div></td>
                                              <td><div><a  href="#" download="archivo.html">Descargar</a></div></td>
                                        </tr>  
                                        {% endfor %}
                                        
                                    </table>
                                </fieldset>
                                <br>
                            </div>
                            <div class="mb-3"><h4>Selecciona el proyecto a evaluar:</h4></div>
                            <form method="POST">
                                
  
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Proyecto:</label>
                                    <div class="col-sm-7">
                                        {% if editar is not null or blank %}
                                        <input class="form-control"name="proyecto-id-2"  id="proyecto-id-2" value="{{editar.id}}" hidden/>
                                        <label class="form-control">#{{editar.dictamen_mov.movimiento_proyecto.id}} {{editar.dictamen_mov.movimiento_proyecto.titulo}} </label>
                                        {%else%}
                                        <select class="form-select"type="text" id="proyecto-id" name="proyecto-id"/>
                                        {% for dictamen in dictamenes %}
                                        <option value={{dictamen.id}}>#{{dictamen.dictamen_mov.movimiento_proyecto.id}} {{dictamen.dictamen_mov.movimiento_proyecto.titulo}} </option>
                                      {% endfor %}
                                        </select>

                                        {% endif %}
                                      </div>
                                      <div class="col-sm-2">
                                          <button type="submit" class="btn btn-success" name="evaluar"{% if editar is not null or blank %}disabled{% endif %}>Evaluar</button>
                                        </div>
                                </div>
                                  {% if editar is not null or blank %}
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label">Estado</label>
                                  <div class="col-sm-2">
                                    <select class="form-select"type="text" id="resultado_dictamen" name="resultado_dictamen"/>
                                    <option value=aceptado>Aceptado</option>
                                    <option value=rechazado>Rechazado</option>
                                    <option value=observado>Observado</option>
                                    </select>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-1 col-form-label">Observación</label>
                                  <div class="col-sm-11"> 
                                    <textarea type="text" class="form-control" id="observacion" name="observacion"></textarea>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-1 col-form-label">Informe</label>
                                  <div class="col-sm-7">
                                    <input type="file" class="form-control" id="adjuntos" >
                                  </div>
                              </div>                                         
                              <div class="centrar margin">
                                <button type="submit" class="btn btn-danger" name="cancelar-edicion">Cancelar</button>
                                <button type="submit" class="btn btn-success" name="guardar-edicion">Guardar</button>
                              </div>    
                            {% endif %}
                              {% csrf_token %}
                              </form>
                </div>
        </div>
        {% endblock %}   