{% extends "base/admin.html" %}
{% block titulo %}Administrador{% endblock %}
{% block child %}
<div class="container">
  <div class="container-fluid">
      <div class="centrar mb-3 mt-3 "><h3>Agrega miembros a una Comisión de Seguimiento de Trabajo Final</h3></div>
      <form method="POST">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">Docente:</label>
            <div class="col-sm-2">
                <select class="form-select"type="text" id="docente-id" name="docente-id"/>
                {% for docente in docentes %}
                <option value={{docente.id}}>{{docente.nombre}} {{docente.apellido}}</option>
              {% endfor %}
                </select>
              </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">CSTF:</label>
            <div class="col-sm-2">
                <select class="form-select"type="text" id="comision-id" name="comision-id"/>
                {% for comision in comisiones %}
                  <option value={{comision.id}}>Comisión {{comision.id}}</option>
                {% endfor %}
                </select>
              </div>
              <div class="col-sm-4">

                <button type="submit" class="btn btn-success" name="agregar-comision">Agregar Nueva Comisión</button>
                <label >(Si no existe la comisión, puedes crearla.)</label>
              </div>
        </div>
            <div class="centrar margin">
              <button type="submit" class="btn btn-success" name="agregar-miembro">Guardar</button>
            </div>                                       
            {% csrf_token %}
      </form>
      </div>
  </div>
{% endblock child%}   