{% extends "base/alumno.html" %}
{% block titulo %}Crear PTF{% endblock %}
{% block child%}
  <div class="container">
      <div class="container-fluid">
          <div class="centrar mb-3 mt-3 "><h3>Debes cargar tu Proyecto de Trabajo Final primero.</h3></div>
          {% if messages %}
              {% for message in messages %}
                  {% if message.tags == 'error' %}  <div class="errors" role="alert">{{ message }}</div>{% endif %}
              {% endfor %}
          {% endif %}
          <form method="POST">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Título</label>
                <div class="col-sm-10">
                  {{form_proyecto.titulo}}
                </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-10"> 
                  {{form_proyecto.descripcion}}
                </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Fecha inicio</label>
                <div class="col-sm-10">
                  {{form_proyecto.presentacion_ptf}}
                </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Archivos adjuntos</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control" id="adjuntos" >
                </div>
            </div> 
                <div class="centrar margin">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">Aceptar</button>
                </div>                                       
          </form>
              </div>
      </div>
{% endblock %}