{% extends "base/admin.html" %}
{% block titulo %}Estadisticas_ptf{% endblock %}
{% block child %}
<div class="container">

    <div class="container-fluid">


        <div class="encabezado">

            <div class="centrar mb-3"><h3>Listado de PTF.</h3></div>
            <!--<form method="post" action="{% url 'gestion:proyecto_lista' %}">
                <div>
                    <label id="fecha_desde_cf">Fecha inicio</label>
                    <input type="date" id="fecha_desde" name="fecha_desde" required>
                    <label id="fecha_hasta_cf">Fecha fin</label>
                    <input type="date" id="fecha_hasta" name="fecha_hasta" required>
                    <button type="submit" class="btn btn-success">Buscar</button>
                </div>
            </form>
            <form action="" method="get">
                <div>
                    <input type="text" placeholder="Ingrese Estado de proyecto" name="consulta">
                    <button type="submit" class="btn btn-success">Buscar</button>
                </div>
            </form>-->
            <form method="get" action="">
                <label for="resultado_dictamen">Ingrese Estado del proyecto</label>
                <input type="text" name="resultado_dictamen" id="resultado_dictamen">

                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="date" name="fecha_inicio" id="fecha_inicio" >

                <label for="fecha_fin">Fecha de Fin:</label>
                <input type="date" name="fecha_fin" id="fecha_fin" >

                <input type="submit" value="Buscar">
            </form>
        </div>
                    <div class="tabla_nth_child">
                    <fieldset>
                        <table>
                            <tr>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Fecha de presentación</th>
                                <th>Nota de aceptación</th>
                                <th>Director</th>
                                <th>Co-director</th>
                                <th>Asesor</th>
                                <th>Etapa</th>
                                <th>Estado</th>
                            </tr>
                            {% for proyecto in proyectos %}
                                    <tr>
                                        <td>{{ proyecto.titulo }}</td>
                                        <td>{{ proyecto.descripcion }}</td>
                                        <td>{{ proyecto.presentacion_ptf }}</td>
                                        <td>
                                            {% if proyecto.nota_aceptacion_director %}
                                                <a href="{{ proyecto.nota_aceptacion_director.url }}" download>Descargar Adjunto</a>
                                            {% else %}
                                                No hay archivo adjunto
                                            {% endif %}
                                        </td>
                                        <td>{{ proyecto.director }}</td>
                                        <td>{{ proyecto.co_director }}</td>
                                        <td>{{ proyecto.asesor }}</td>
                                        <td>{{ proyecto.movimiento_proyecto.tipo_mov }}</td>
                                        <td>{{ proyecto.movimiento_proyecto.dictamen_mov.resultado_dictamen }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">No se encontraron proyectos.</td>
                                    </tr>
                            {% endfor %}
                        </table>
                    </fieldset>
            <br>
            </div>
         
    </div>
</div>
{% endblock %}   