{% extends "base/admin.html" %}
{% block titulo %}Estadisticas_ptf{% endblock %}
{% block child %}
<div class="container">

    <div class="container-fluid">


        <div class="encabezado">

            <div class="centrar mb-3"><h3>Listado de PTF.</h3></div>
            <form method="get" action="">
                <label for="resultado_dictamen">Ingrese Estado del proyecto</label>
                <input type="text" name="resultado_dictamen" id="resultado_dictamen">

                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="date" name="fecha_inicio" id="fecha_inicio" >

                <label for="fecha_fin">Fecha de Fin:</label>
                <input type="date" name="fecha_fin" id="fecha_fin" >

                <input type="submit" value="Buscar">
            </form>
        </div>
                    <div class="tabla_nth_child">
                    <fieldset>
                        <table>
                            <tr>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Fecha de presentación</th>
                                <th>Nota de aceptación</th>
                                <th>Director</th>
                                <th>Co-director</th>
                                <th>Asesor</th>

                            </tr>
                            {% for proyecto in proyectos %}
                                    <tr>
                                        <td>{{ proyecto.titulo }}</td>
                                        <td>{{ proyecto.descripcion }}</td>
                                        <td>{{ proyecto.presentacion_ptf }}</td>
                                        <td>
                                            <a  href="#" download="archivo.html">Descargar</a>
                                        </td>
                                        <td>{{ proyecto.director.apellido }} {{ proyecto.director.nombre }}</td>
                                        <td>{{ proyecto.co_director.apellido }} {{ proyecto.co_director.nombre }}</td>
                                        <td>{{ proyecto.asesor.apellido }} {{ proyecto.asesor.apellido }}</td>

                                    </tr>

                            {% endfor %}
                        </table>
                    </fieldset>
            <br>
            </div>
         
    </div>
</div>
{% endblock %}   