{% extends "base/admin.html" %}
{% block titulo %}Crear PTF{% endblock %}
{% block child%}
  <div class="container">
      <div class="container-fluid">
          <div class="centrar mb-3 mt-3 "><h3>Cargar Proyecto de Trabajo Final.</h3></div>
          <form method="POST">
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Título:</label>
                <div class="col-sm-4">
                  {{form_proyecto.titulo}}
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Descripción:</label>
                <div class="col-sm-4"> 
                  {{form_proyecto.descripcion}}
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Fecha inicio:</label>
                <div class="col-sm-4">
                  {{form_proyecto.presentacion_ptf}}
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Alumno:</label>
                <div class="col-sm-4">
                    <select class="form-select"type="text" id="alumno-id" name="alumno-id"/>
                    {% for alumno in alumnos %}
                    <option value={{alumno.alumno.id}}>{{alumno.alumno.nombre}} {{alumno.alumno.apellido}}</option>
                  {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Tribunal:</label>
                <div class="col-sm-4">
                    <select class="form-select"type="text" id="tribunal-id" name="tribunal-id"/>
                    {% for tribunal in tribunales %}
                    <option value={{tribunal.id}}>Tribunal {{tribunal.id}}</option>
                  {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Comisión:</label>
                <div class="col-sm-4">
                    <select class="form-select"type="text" id="comision-id" name="comision-id"/>
                    {% for comision in comisiones %}
                    <option value={{comision.id}}>Comision {{comision.id}}</option>
                  {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Director:</label>
                <div class="col-sm-4">
                    <select class="form-select"type="text" id="director-id" name="director-id"/>
                    {% for docente in docentes %}
                    <option value={{docente.id}}>{{docente.nombre}} {{docente.apellido}}</option>
                  {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Co-Director:</label>
                <div class="col-sm-4">
                    <select class="form-select"type="text" id="co-director-id" name="co-director-id"/>
                    {% for docente in docentes %}
                    <option value={{docente.id}}>{{docente.nombre}} {{docente.apellido}}</option>
                  {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Asesor:</label>
                <div class="col-sm-4">
                    <select class="form-select"type="text" id="asesor-id" name="asesor-id"/>
                    {% for asesor in asesores %}
                    <option value={{asesor.id}}>{{asesor.nombre}} {{asesor.apellido}}</option>
                  {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <label class="col-sm-2 col-form-label">Adjuntos:</label>
                <div class="col-sm-4">
                  <input type="file" class="form-control" id="adjuntos" >
                </div>
            </div> 
                <div class="centrar margin">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">Aceptar</button>
                </div>                                       
          </form>
              </div>
      </div>
{% endblock %}