{% extends "base/base.html" %}
{% block titulo %}Administrador{% endblock %}
{% block contenido %}
<div class="topnav" id="myTopnav">
    <a class="active" href="{% url 'gestion:administrador' %}">Inicio</a>
    <div class="dropdown">
        <button class="dropbtn">Proyectos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Modificar</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Personas
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'gestion:administrador_alumno_alta' %}">Alumno: Alta</a>
          <a href="{% url 'gestion:administrador_docente_alta' %}">Docente: Alta</a>
          <a href="{% url 'gestion:administrador_asesor_alta' %}">Asesor: Alta</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Tribunales
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'gestion:tribunal_nuevo' %}">Alta</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">CSTFs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'gestion:registro_cstf' %}">Alta</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Movimientos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Dictamenes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Archivos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alta</a>
          <a href="#">Listado</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Integrantes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Alumno: Alta</a>
          <a href="#">Director: Alta</a>
        </div>
      </div>
      <a href="{% url 'gestion:administrador_estadisticas' %}">Estadisticas</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

      <a class="right" href="{% url 'usuarios:logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
      <a class="right inactive" href="{% url 'gestion:administrador' %}"><i class="fas fa-user"></i> Administrador: {{ request.user.username }}</a>
</div>  
    {% block child %}
    {% endblock child %}   
{% endblock contenido%}   