{% extends "base/base.html" %}
{% block titulo %}Alumno{% endblock %}
{% block contenido %}
<ul class="topnav">
    <li><a class="active" href="{% url 'gestion:alumno' %}">Inicio</a></li>
    <li><a href="{% url 'gestion:proyecto_create' %}">Nuevo</a></li>
    <li><a href="{% url 'gestion:alumno' %}">Entrega</a></li>
    <li><a href="{% url 'gestion:alumno' %}">Estado</a></li>
    <li><a href="{% url 'gestion:alumno' %}">Baja</a></li>
    <li class="right"><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
    <li class="right"><a href="{% url 'gestion:alumno' %}"><i class="fas fa-user"></i> Alumno: Gomez Marcos</a></li>
</ul>
{% block child %}
{% endblock child %}   
{% endblock contenido%}   