{% extends "base/base.html" %}
{% block titulo %}Alumno{% endblock %}
{% block contenido %}
<ul class="topnav">
    <li><a class="active" href="{% url 'gestion:alumno' %}">Inicio</a></li>
    <li><a href="{% url 'gestion:proyecto_create' %}">Estado</a></li>
    <li><a href="{% url 'gestion:alumno' %}">Entrega</a></li>
    <li><a href="{% url 'gestion:alumno' %}">Baja</a></li>
    <li><a href="{% url 'gestion:proyecto_integrante' %}">Integrantes</a></li>
    
    <a class="right" href="{% url 'usuarios:logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    <a class="right inactive" href="{% url 'gestion:alumno' %}"><i class="fas fa-user"></i> Alumno: {{ request.user.username }}</a>
</ul>
{% block child %}
{% endblock child %}   
{% endblock contenido%}   